//- 메인 영역
.col-lg-3.col-md-4.col-sm-6.col-xs-12(ng-repeat="expert in expertList")
  .thumbnail
    img.img-circle(ng-src="{{expert.user_photo}}" width="100%")
    .caption
      h3 {{expert.name}}
      p {{expert.qualification}}
      p
        button.btn.btn-default
          | 자세히 보기
