form(name="user_frm_4")
  .signin-animation(ng-show="user_obj.signin_step===4")
    .row
      .col-sm-12
        h5(style="margin-bottom: 0px;")
          | 제공 가능한 서비스 형태를 선택하고 기본 금액을 입력합니다.
          span.text-danger
            | &nbsp;(최소 1종류 이상)
        p.text-primary
          | 실제 금액은 계약 시점에 고객과 협의하여 조정 가능합니다.
    .row(ng-repeat="method in user_obj.method_list track by $index")
      .col-sm-3.col-xs-5
        h5
          label
            input(type="checkbox" ng-model="method.checked" ng-click="user_func.methodCheck();")
            | &nbsp;{{method.name}}
      .col-sm-2.col-xs-7(ng-class="{'has-error' : !method.price}" style="padding:0px;")
        input#price_phone.form-control(type="number" ng-model="method.price" min="0" step="1000" ng-disabled="!method.checked" ng-change="user_func.methodCheck();")
      .col-sm-7.col-xs-12
        h5(ng-show="method.checked && method.price")
          span.text-primary
            | {{method.price|currency:"&#8361; ":0}}
          | &nbsp;/ {{method.unit}}
        h5.text-danger(ng-show="method.checked && !method.price")
          | 올바른 금액을 숫자로 입력하세요
        h5.text-danger(ng-hide="method.checked")
          | {{method.name}} 서비스 불가
