.modal.fade#signinModal(data-keyboard="false" data-backdrop="static")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &#215;
        h4.modal-title 회원 가입 - {{user_obj.signin_step_text()}}
      .modal-body
        //회원가입 1단계 : 사용자구분, 아이디, 비밀번호
        include signinStep0
        //회원가입 2단계 : 이름, 성별, 생년월일 등 신상정보.
        include signinStep1
