input#user_photo_file(type="file" name="photoFile" accept="image/*" style="display:none;" onchange="$('#imgUploadModal').modal('show')")
form(name="user_photo_frm" method="POST" action="/fileupload/photo")
  input(type="hidden" name="user_id" ng-value="user_obj.id")
  input#user_photo_file_crop(type="hidden" name="photoFileCrop")
  .modal#imgUploadModal(data-keyboard="false" data-backdrop="static")
    .modal-dialog
      .modal-content
        .modal-body
          .row
            .col.col-sm-9
              .cropArea
                img-crop(image="myImage" result-image="user_obj.user_photo_data" area-min-size=40 result-image-size=480)
            .col.col-sm-3(style="padding-left: 0px")
              .thumbnail
                img.img-circle(ng-src="{{user_obj.user_photo_data}}" width="100%")
              button.btn.btn-block.btn-success(type="button" ng-click="user_func.upload_photo();")
                | 이미지 저장
              //button.btn.btn-block.btn-success(type="button" ng-click="user_func.user_photo_append();")
                | 이미지 저장
              button.btn.btn-block.btn-danger(type="button" onclick="$('#imgUploadModal').modal('hide')")
                | 취소
form(name="user_frm_2")
  .animate-show(ng-show="user_obj.signin_step===1")
    .row
      .col.col-sm-3.text-center
        label(for="user_photo_file")
          img.img-circle(ng-src="{{user_obj.user_photo}}" width="100%")
        label.btn.btn-sm.btn-block.btn-default(for="user_photo_file")
          | 사진 선택
      .col.col-sm-9
        .row
          .col.col-xs-12
            h5.text-danger
              | * 표시는 필수 항목입니다.
        .row
          .col.col-xs-2.text-right(style="padding:1px;")
            h5
              label(for="user_name")
                span.text-danger
                  | *
                | &nbsp;이름
          .col.col-xs-4
            input#user_name.form-control(type="text" maxlength=10 ng-model="user_obj.name" placeholder="이름" required)
          .col.col-sm-1
          .col.col-sm-5(style="padding:5px 0px;")
            label.control-label
              input(type="radio" name="gender" value="male" ng-model="user_obj.gender")
              | &nbsp;남성
            | &nbsp;&nbsp;&nbsp;&nbsp;
            label.control-label
              input(type="radio" name="gender" value="female" ng-model="user_obj.gender")
              | &nbsp;여성
        .row
          .col.col-xs-2.text-right(style="padding:1px;")
            h5
              label 생년월일
          .col.col-xs-8(style="padding:0;")
            .col.col-xs-5(style="padding:0;")
              .col.col-xs-9(style="padding-right:2px;")
                select.form-control(ng-model="user_obj.birth.year" style="padding:5px;" ng-change="user_func.birth_option.onChange();")
                  option(ng-repeat="year_val in user_func.birth_option.years" ) {{year_val}}
              .col.col-xs-3(style="padding-left:2px;")
                h5 년
            .col.col-xs-7(style="padding:0;")
              .col.col-xs-4(style="padding:0px 2px;")
                select.form-control(ng-model="user_obj.birth.month" style="padding:5px;" ng-change="user_func.birth_option.onChange();")
                  option(ng-repeat="month_val in user_func.birth_option.months") {{month_val}}
              .col.col-xs-2(style="padding-left:2px;")
                h5 월
              .col.col-xs-4(style="padding:0px 2px;")
                select.form-control(ng-model="user_obj.birth.day" style="padding:5px;" ng-change="user_func.birth_option.onChange();")
                  option(ng-repeat="day_val in user_func.birth_option.days") {{day_val}}
              .col.col-xs-2(style="padding-left:2px;")
                h5 일
          .col.col-xs-2(style="padding-left:1px;")
            h5.text-primary
              | 만 {{user_obj.age}}세
        .row
          .col.col-xs-2.text-right(style="padding:1px;")
            h5
              label(for="phone")
                span.text-danger
                  | *
                | &nbsp;전화번호
          .col.col-xs-4(style="padding-right:2px;")
            input#phone.form-control(type="text" placeholder="전화번호-1" ng-model="user_obj.phone[0]")
          .col.col-xs-4(style="padding-right:2px;")
            input.form-control(type="text" placeholder="전화번호-2" ng-model="user_obj.phone[1]")
        .row
          .col.col-xs-2.text-right(style="padding:1px;")
            h5
              label(for="email")
                span.text-danger
                  | *
                | &nbsp;이메일
          .col.col-xs-5(ng-class="{'has-error' : !user_obj.email && user_obj.email!=''}")
            //원래는 user_frm_2.user_email.$valid 형식으로 해야 하는데 이렇게 하니까 안되고 !user_obj.email 로 하니 정상적으로 실행됨.
            input#email.form-control(type="email" name="user_email" placeholder="aaa@email.com" ng-model="user_obj.email")
          .col.col-xs-5(style="padding-left:1px;")
            h5.text-danger(ng-show="!user_obj.email && user_obj.email!=''")
              | 잘못된 메일 형식입니다.
            h5.text-primary(ng-show="user_obj.email")
              | 올바른 메일 형식입니다.
      .row
        .col.col-sm-2.text-right(style="padding:1px;")
          h5
            label(for="homepage") 홈페이지
        .col.col-sm-7
          input#homepage.form-control(type="text" ng-model="user_obj.homepage" placeholder="http://... (홈페이지 또는 블로그 주소)")
      .row
        .col.col-sm-2.text-right(style="padding:1px;")
          label(for="kakao")
            img.img-rounded(src="/images/icon/kakao.png" style="width:35px;")
        .col.col-sm-4
          input#kakao.form-control(type="text" ng-model="user_obj.kakao" placeholder="카카오 아이디(이메일)")
        .col.col-sm-1.text-right(style="padding:1px;")
          label(for="naver_line")
            img.img-rounded(src="/images/icon/line.jpeg" style="width:35px;")
        .col.col-sm-3
          input#naver_line.form-control(type="text" ng-model="user_obj.naver_line" placeholder="라인 아이디")
      .row
        .col.col-sm-2.text-right(style="padding:1px;")
          label(for="facebook")
            img.img-rounded(src="/images/icon/facebook.jpeg" style="width:35px;")
        .col.col-sm-7
          input#facebook.form-control(type="text" ng-model="user_obj.facebook" placeholder="http://facebook.com/...")
      .row
        .col.col-sm-2.text-right(style="padding:1px;")
          label(for="twitter")
            img.img-rounded(src="/images/icon/twitter.png" style="width:35px;")
        .col.col-sm-7
          input#twitter.form-control(type="text" ng-model="user_obj.twitter" placeholder="http://twitter.com/...")
      .row
        .col.col-sm-2.text-right(style="padding:1px;")
          label(for="googleplus")
            img.img-rounded(src="/images/icon/googleplus.png" style="width:35px;")
        .col.col-sm-7
          input#googleplus.form-control(type="text" ng-model="user_obj.googleplus" placeholder="https://plus.google.com/+...")
      .row
        .col.col-sm-2.text-right(style="padding:1px;")
          label(for="linkedin")
            img.img-rounded(src="/images/icon/linkedin.png" style="width:35px;")
        .col.col-sm-7
          input#linkedin.form-control(type="text" ng-model="user_obj.linkedin" placeholder="http://kr.linkedin.com/in/...")
      .row
        .col.col-sm-2.text-right(style="padding:1px;")
          label(for="instagram")
            img.img-rounded(src="/images/icon/instagram.jpeg" style="width:35px;")
        .col.col-sm-7
          input#instagram.form-control(type="text" ng-model="user_obj.instagram" placeholder="http://instagram.com/...")
