form(name="user_frm_1")
  .signin-animation(ng-show="user_obj.signin_step===0")
    .row
      .col-xs-12
        h5.text-danger(style="margin:0px;")
          | * 사용자 구분 및 아이디는 변경이 불가능합니다.
    .row
      .col-sm-2.col-xs-5.text-right(style="padding:1px;")
        h5
          label
            span.text-danger
              | *
            | &nbsp;사용자 구분
      .col-sm-10.col-xs-7(style="padding-top:8px;")
        label.control-label
          input#user_type_1(type="radio" ng-disabled="user_obj.id_created" name="user_type" value="expert" ng-model="user_obj.type")
          | &nbsp;전문가
        | &nbsp;&nbsp;
        //label.control-label
          input#user_type_2(type="radio" ng-disabled="user_obj.id_created" name="user_type" value="user" ng-model="user_obj.type")
          | &nbsp;일반사용자
    .row
      .col-sm-2.col-xs-5.text-right(style="padding:1px;")
        h5
          label(for="user_id")
            span.text-danger
              | *
            | &nbsp;아이디
      .col-sm-4.col-xs-7(ng-class="{'has-error':user_obj.id.length > 0 && !user_func.id_validate()}")
        input#user_id.form-control(type="text" maxlength=20 ng-model="user_obj.id" ng-disabled="user_obj.id_created" placeholder="아이디 (4~20자)" ng-change="user_func.id_check()")
      .col-sm-6.col-xs-12
        h5(ng-hide="user_obj.id_created")
          span.text-danger(ng-show="!user_func.id_validate()")
            | {{user_func.id_validate_text}}
    .row(ng-show="user_obj.passwd_enc")
      .col-sm-2.col-xs-5.text-right(style="padding:1px;")
        h5
          label(for="user_passwd") 기존 비밀번호
      .col-sm-4.col-xs-7
        input#user_passwd.form-control(type="password" ng-model="login_obj.passwd_pre" ng-change="user_func.checkPasswd(login_obj.passwd_pre);" placeholder="기존 비밀번호")
      .col-sm-6.col-xs-12(ng-hide="login_obj.passwd_pre_correct")
        h5.text-danger
          | 비밀번호를 변경하려면 기존 비밀번호를 입력하십시오
      .col-sm-6.col-xs-12(ng-show="login_obj.passwd_pre_correct")
        span.text-primary
          | 비밀번호가 확인되었습니다.&nbsp;
          button.btn.btn-success(ng-click="login_obj.passwd_pre='';user_obj.passwd_enc='';")
            | 비밀번호 변경
      //.col-sm-2.col-xs-12(ng-show="login_obj.passwd_pre_correct" style="padding:0px;")
        button.btn.btn-success.btn-block(ng-click="login_obj.passwd_pre='';user_obj.passwd_enc='';")
          | 비밀번호 변경
    .row
      .col-sm-2.col-xs-5.text-right(style="padding:1px;")
        h5
          label(for="user_passwd") 비밀번호
      .col-sm-4.col-xs-7(ng-class="{'has-error':user_obj.passwd.length > 0 && user_obj.passwd.length < 6}")
        input#user_passwd.form-control(type="password" ng-disabled="user_obj.passwd_enc" ng-model="user_obj.passwd" placeholder="비밀번호(6자 이상)")
      .col-sm-6.col-xs-12
        h5
          span.text-danger(ng-show="user_obj.passwd.length > 0 && user_obj.passwd.length < 6")
            | 비밀번호는 6자리 이상 입력하세요.
          span.text-primary(ng-show="user_obj.passwd.length >= 6")
            | 사용 가능한 비밀번호입니다.
    .row
      .col-sm-2.col-xs-5.text-right(style="padding:1px;")
        h5
          label(for="user_passwd_re") 비밀번호 확인
      .col-sm-4.col-xs-7(ng-class="{'has-error':user_obj.passwd_re.length > 0 && user_obj.passwd !== user_obj.passwd_re}")
        input#user_passwd_re.form-control(type="password" ng-disabled="user_obj.passwd_enc" ng-model="user_obj.passwd_re" placeholder="비밀번호 확인")
      .col-sm-6.col-xs-12
        h5
          span.text-danger(ng-show="user_obj.passwd_re.length > 0 && user_obj.passwd !== user_obj.passwd_re")
            | 비밀번호가 동일하지 않습니다.
          span.text-primary(ng-show="user_obj.passwd_re.length > 0 && user_obj.passwd === user_obj.passwd_re")
            | 비밀번호가 확인되었습니다.
