.modal.fade#signinModal(data-keyboard="false" data-backdrop="static")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &#215;
        h4.modal-title 회원 가입
      .modal-body
        회원 가입합니다.
      .modal-footer
        button.btn.btn-danger(type="button") 종료
