.container.signin_wrap
  .row
    .container-fluid.signin_page_title_wrap
      h1.signin_page_title
        | 추가정보입력완료

  .row
    .container-fluid
      .col-sm-4.col-sm-offset-4.signin_complete_check
        .check_circle_wrap
          span.glyphicon.glyphicon-ok
      .col-sm-4.col-sm-offset-4.signin_complete_check
        p.signin_complete_msg
          | 추가정보입력이 완료되었습니다.
          br
          | 입력정보에 대한 검증 및 회원승인절차가 진행중입니다.
  .row
    .container-fluid
      .col-sm-8.col-sm-offset-2
        h4
          | 전문가회원 입력정보검증 및 승인안내
        p
          | 현재 마음고리에 입력하신 전문가회원님의 추가입력정보에 대해 관련기관검증 및 회원승인절차가 진행중에 있습니다.
          br
          | 최대 일주일의 시간이 소요되며, 절차가 완료된 이후에는 전문가 지원 시스템의 정상적인 이용이 가능합니다.
          br
          | 회원승인이 반려될 경우 추가로 정보 또는 올바른 정보의 입력을 요청 할 수 있으며, 요청을 거부하실 경우 전문가 지원 시스템을 이용 하실 수 없습니다.
        p
          | 검증이 완료된 정보는 마음고리에서 전문가회원님의 프로필 화면에서 검증마크가 부여되어 회원님의 신뢰도를 높이고 고객이 결정을 하는데 주요한 항목이 될 수 있습니다.
          | 또한, 입력하신 정보를 토대로 회원승인이 이루어지며, 승인 이후에는 전문가 지원 시스템에서 전문가회원님의 입력내용 확인 및 수정, 추가 등이 가능합니다.

  .row
    .container-fluid.form_divide
      .form-group.signin_formgroup
        .col-sm-4.col-sm-offset-4.submit_wrap
          button.signin_logout_btn.btn(type="button")
            | 로그아웃
