/* 회원가입페이지 */
.signin_title_wrap{margin:0;padding:0;}
.signin_wrap{margin-top:0;}
.signin_page_title_wrap{padding-bottom:50px;}
.signin_page_title{text-align:center;font-size:2em;}

.signin_wrap h1 small{margin-left:10px;}
.signin_wrap .signin_textarea{margin-top:30px;padding:0 30px;}
.signin_wrap .signin_textarea label{font-size:2em;}
.signin_wrap .agree_checkbox{text-align:right;margin-top:20px;padding-right:10px;}
.signin_wrap .agree_checkbox label{margin-right:25px;}
.signin_wrap .cert_btn{text-align:center;margin:30px 0;}

.signin_wrap .form_divide{margin-top:20px;}

.signin_wrap .signin_formgroup{margin-bottom:0;padding-left:15px;padding-right:15px;}
.signin_wrap .signin_formgroup .last_cell{border-bottom:3px solid #e8e8e8;margin-bottom:40px;}
.signin_wrap .signin_formgroup .signin_formcell{border-top:3px solid #e8e8e8;border-right:3px solid #e8e8e8;border-left:3px solid #e8e8e8;padding:5px 0;}
.signin_wrap .signin_formgroup .btn_cell{border-top:0px;padding-top:20px;padding-bottom:10px;}
.signin_wrap .signin_formgroup .btn_cell ul{margin-top:20px;}
.signin_wrap .signin_formgroup .signin_formcell .helptext{display:inline-block;padding:5px 0 0 12px;}
.signin_wrap .signin_formgroup .signin_formcell .helptext .glyphicon{margin-right:5px;}
.signin_wrap .signin_formgroup .signin_formcell .text_red{color:#ff0000;}
.signin_wrap .signin_formgroup .signin_formcell .text_green{color:#009900;}
.signin_wrap .signin_formgroup input{border:0;}
.signin_wrap .signin_formgroup .signin_formcell .inline_input{display:inline;width:100px;}
.signin_wrap .signin_formgroup .signin_formcell .center_input{text-align:center;}
.signin_wrap .signin_formgroup .signin_formcell .left_input{text-align:center;}
.signin_wrap .signin_formgroup .signin_formcell .center_input label{margin:0;vertical-align:middle;}
.signin_wrap .signin_formgroup .signin_formcell .radio-inline{padding:6px 12px;margin-left:20px;}
.signin_wrap .signin_formgroup .signin_formcell .checkbox-inline{padding:6px 12px;margin-left:20px;}
.signin_wrap .signin_formgroup .signin_formcell .none_padding{}
.signin_wrap .signin_formgroup .signin_formcell .glyphicon_img{display:block;background:#f4f4f4;width:35px;height:35px;padding-top:10px;vertical-align:middle;text-align:center;}
.signin_wrap .signin_formgroup .signin_formcell .icon_img{width:35px;height:35px;}
.signin_wrap .signin_formgroup .signin_formcell .photo_preview{width:200px;height:200px;margin:20px auto 0 auto;overflow:hidden;}
.signin_wrap .signin_formgroup .signin_formcell .photo_preview img{border-radius:150px;width:200px;}
.signin_wrap .signin_formgroup .signin_formcell .text_label{padding:6px 0 0 0;}
.signin_wrap .signin_formgroup .signin_formcell .select_bg{display:block;padding:0 1px 1px 0;}
.signin_wrap .signin_formgroup .signin_tempsave_btn{background:#aaa;width:100%;border:0;padding:10px 0;margin:0;color:#ffffff;}
.signin_wrap .signin_formgroup .signin_submit_btn{background:#002349;width:100%;border:0;padding:10px 0;margin:0;color:#ffffff;}
.signin_wrap .signin_formgroup .signin_logout_btn{background:#e10000;width:100%;border:0;padding:10px 0;margin:0;color:#ffffff;}
.signin_uploadphoto_btn{background:#21aaed;color:#fff;}
.signin_wrap .signin_radio input{margin-right:10px;}
#signin_userid{ime-mode:disabled;}
@media(max-width:767px){
  .signin_wrap .signin_formgroup .submit_wrap{margin-top:20px;margin-bottom:40px;}
  .signin_wrap .signin_formgroup .save_wrap{margin-top:20px;margin-bottom:20px;}

  ul,ol{padding-left:10px;}
  .advice_inner{padding-left:20px;padding-right:10px;}
}

.signin_complete_check{text-align:center;}
.signin_complete_check .check_circle_wrap{width:100px;height:100px;background:#00a700;margin:0 auto;padding-top:50px;border-radius: 100px;}
.signin_complete_check span{font-size:4em;color:#ffffff;display:block;top:-25px;}
.signin_complete_check .signin_complete_msg{padding-top:20px;padding-bottom:50px;}

.app_review_wrap{width:290px;background-color:black;border-radius:25px;margin:10px auto 0 auto;}
.app_review_wrap .phone_top{width:50px;height:7px;background-color:#444;border-radius:5px;margin:25px auto;}
.app_review_wrap .phone_body{width:280px;padding:0 5px;margin:0px;}
.app_review_wrap .phone_body .phone_body_inner_wrap{background:#fff;width:270px;height:405px;overflow-y:auto;}
.app_review_wrap .phone_bottom{width:50px;height:50px;background-color:#222;border-radius:50%;margin:10px auto;}

.app_review_wrap .phone_body .phone_body_top{position:relative;width:270px;height:135px;margin:0px;padding:0;background-size:100%;}
.app-text-preview{position:absolute;margin:8px;overflow:auto;}
.app-text-preview h4{margin:0 0 7px 0;font-size:1em;}
.app-text-preview p{display:block;width:254px;max-height:80px;white-space:pre;overflow-y:hidden;word-wrap:break-word;font-size:0.8em;}

.profile_preview_table_wrap{width:270px;padding:10px;}
.profile_preview_table_wrap table{border-collapse:collapse;font-size:0.8em;}
.profile_preview_table_wrap table th{padding:3px;}
.profile_preview_table_wrap table td{padding:3px;}

/* login page */
.mg_login_wrap{width:552px;}
.login_page_title{padding:10px;}
.login_page_title p{padding:0 10px 0 50px;margin:0;}
.mg_login_title{vertical-align:middle;font-size:1.3em;font-weight:bold;}
.mg_login_panel{border:0;margin:0;padding:0;box-shadow:none; }
.mg_login_panel .panel-body{border:0;}

.login_input_wrap{}
.login_input_wrap input{margin-bottom:5px;}

.login_id_wrap{margin-bottom:10px;text-align:right;}

.login_btn_wrap .btn{width:240px;display:inline-block;vertical-align:middle;margin:0;}
.login_btn_wrap .mg_btn_login{width:100%;margin-bottom:5px;background:#218aed;color:#fff;}
.login_btn_wrap .mg_btn_join{margin-left:10px;background:#f4f4f4;}
.login_btn_wrap .mg_btn_find{background:#f4f4f4;}

.login_desc_wrap{margin-top:30px; margin-bottom:20px;background:#f4f4f4;padding:20px;}
.login_desc_wrap ul{padding:0 20px 0 20px;margin:0;}
.login_desc_wrap ul li{margin-top:2px;margin-bottom:3px;}

@media(max-width:552px){
  .mg_login_wrap{width:320px;}

  .login_btn_wrap .btn{width:100%;margin:5px 0 0 0;}
}

@media(min-width:553px){
  .mg_login_wrap{border:1px solid #eee;padding-top:10px;}
  .login_input_wrap input{width:240px;}
  .login_input_wrap .id_input{display:inline;margin-right:5px;}
  .login_input_wrap .ps_input{display:inline;}
}
/* 공통 스타일 */
/* body offset */
body{padding-top:70px;}

/* 페이지 헤더 */
.mg_page-header{padding-bottom:5px;margin:0;}
.mg_page-header h1{margin-top:0;font-size:1.8em;}
.mg_page-header small{padding-left:10px;}

@media(max-width:992px){
  .mg_page-header small{display:none;}
  .breadcrumb{display:none;}
}

/* 서비스 관련 안내 */
.service_advice_title{font-size:1em;padding-left:10px;font-weight:bold;}


/* 네비게이션 바 스타일 */
.navbar-inverse{
background:#002349;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #002330;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 8px 8px;
  margin:0;
  font-size: 18px;
  line-height: 20px;
  color:#fff;
  display: block;
}
.navbar-brand span{color:#fff;vertical-align:middle;}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

/* 검색 */
.list_search_set{padding-bottom:10px;}

.list_search_set input{margin-right:5px;}
.list_search_set select{margin-right:5px;}
.list_search_set .search_div{margin:0 5px;display:inline-block;}
.list_search_set .cst_srch_input{width:120px;}

@media(max-width:992px){
  .list_search_set{margin-left:auto;margin-right:auto;}
  .list_search_set input{width:75px;float:left;margin-right:5px;}
  .list_search_set select{border-radius:0;width:100px;float:left;margin-right:5px;-webkit-border-radius:0;}
  .list_search_set .search_div{display:block;float:left;padding:0 5px;margin-right:5px;}
  .list_search_set .search_btn{margin:0 5px 0 0;}
}

/* 페이지네이션 */
.mg_pagination{text-align:center;}
.mg_pagination ul{border:0;text-align:center;}
.mg_pagination li a, .mg_pagination li span{border:0;}
.mg_pagination li:first-child > a, .mg_pagination li:first-child > span{border:0;}
.mg_pagination .active a, .mg_pagination .active span{background:#eee;color:#002330;}

/* 도움말 숫자리스트 */
.page_advice_ol{margin-top:30px;}

@media(max-width:992px){
  .page_advice_ol{padding-left:20px;}
}

/* 버튼 스타일 */
.btn{border-radius:30px;}
.search_sel_btn{border-radius:0;}

/* 푸터 스타일 */
.footer_menu{margin:0;padding:0;}
.footer_menu li{display:inline-block;margin:0 10px 0 0;padding:0 0;list-style:none;}

/* 로고 이미지 */
#mg_exp_t_logo{
  width:150px;
  display:inline;
  vertical-align:middle;
  padding-right:5px;
}

/* 간단 프로필 */
.expert_summary{
  padding:10px;
  border:1px solid #f1f1f1;
}
.expert_summary h2{
  font-size:1.4em;
  margin:0;padding:0;
}
.expert_stat ul{margin:0;}

.expert_logon_btn{padding:5px 0 0 0;}
.expert_logon_btn > .col{padding-top:5px;padding-left:2px;padding-right:2px;}

.side_shortcut{
  margin:0;
  padding:0;
  border-top:1px solid #f1f1f1;
}
@media(min-width:993px){
  .side_shortcut li{
    width:50%;
    height:50px;
    text-align:center;
    margin:0;padding:0;
    float:left;
    list-style:none;
  }
}

.expert_summary .expert_img{display:inline-block;vertical-align:middle;margin-right:10px;}
.expert_summary .expert_name{display:inline-block;vertical-align:middle;}
.expert_summary .expert_name p{margin:0;padding:0;}

.btn-smry-toggle{display:none;width:100%;}
@media (max-width:992px){
  .summary_toggle{display:none;}
  .btn-smry-toggle{width:80px;display:block;z-index:199;right:10px;position:absolute;padding:5px;margin-bottom:5px;background:#fff;border-radius:30px;border:1px solid #eee;font-size:0.85em;}
}

.expert_stat{background:#f1f1f1;}
.expert_stat ul{padding-top:10px;padding-bottom:10px;}

@media (max-width: 992px) {
  .expert_stat ul{padding:10px;}
  .expert_stat ul li{display:inline-block;padding-left:10px;padding-right:10px;}
  .side_shortcut{text-align:center;}
  .side_shortcut li{display:inline-block;list-style:none;padding:10px;}
}

/* bootstrap style remove */
.form-control{border-radius:0px;-webkit-box-shadow:none;box-shadow:none;-webkit-transition:none;transition:none;}
.form-control:focus{-webkit-box-shadow:none;box-shadow:none;}


/* table common */

/* table style */
.table tbody tr td, .table thead tr th{font-size:0.9em;vertical-align:middle;}
.table-striped{border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.center_cell{text-align:center;}

.bottom_btn_wrap .left_btn{text-align:left;}
.bottom_btn_wrap .right_btn{text-align:right;}
.bottom_btn_wrap .right_btn a{margin-left:5px;}
.bottom_btn_wrap .center_btn{text-align:center;}

/* 고객관리 */
/* 고객 검색폼 */
.cst_search_wrap .full_dropdown{width:100%;}

/* 정산관리 */
.account_summary{text-align:center;font-size:1.3em;display:block;padding:40px 0;}
.account_summary span{font-size:1.5em;}

.withdraw_wrap{padding:40px 0;}
.withdraw_wrap #withdraw_amount{width:160px;}

.form-horizontal .rq_withdraw_wrap{border-bottom:1px solid #eee;border-left:1px solid #eee;border-right:1px solid #eee;padding:10px;margin:0 0;}
.form-horizontal .wrap_border_top{border-top:1px solid #eee;}
.form-horizontal .wrap_border_bottom{border:0;text-align:center;}

@media(min-width:993px){
  .rq_withdraw_wrap .control-label{text-align:center;}
  .withdraw_ttext{text-align:center;}
}

/* 탭 */
.nav_tabs{margin:0 0 20px 0;}


/* 메시지발송 */
#msg_rsb_sel{margin-left:10px;}
.msg_send_form{padding:20px;margin:0;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
.msg_sel_num{display:inline-block;padding-left:10px;}

/* 텍스트 옵션 */
.text_red{color:#ff0000;}
.text_blue{color:#0000ff;}
.text_green{color:#00ff00;}
.text_pink{color:#c21ed6;}
.text_skyblue{color:#03b1ff;}
.text_darkgray{color:#2e2e2e;}
.text_lightgray{color:##c2c2c2;}
.text_bold{font-weight:bold;}


/* 모달창 디자인 */
.modal-content{border-radius:0;}
