.text-red {
  color: #f00;
}
.has-primary .form-control,
img.has-primary {
  border-color: rgba(82,168,236,0.8);
  outline: 0px none;
  box-shadow: 0px 0px 8px rgba(82,168,236,0.6);
}
.modal-fl {
  width: 500px;
}
.cropArea {
  background: #e4e4e4;
  overflow: hidden;
  width: 420px;
  height: 300px;
}
/* 카테고리 컬러 감싸고 그림자 효과 주기 */
.cate-name {
  padding: 5px;
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 3px;
}
.app-text-preview {
  position: relative;
  padding: 12px;
}
.app-text-preview span {
  position: absolute;
  overflow: visible;
  width: 100%;
  margin-left: -12px;
  padding: 12px;
  white-space: normal;
  word-break: break-word;
}
.text-stroke-white {
  text-shadow: -1px -1px 1px #eee, 1px -1px 1px #eee, -1px 1px 1px #eee, 1px 1px 1px #eee;
}
.text-stroke-black {
  color: #fff;
  text-shadow: -1px -1px 1px #111, 1px -1px 1px #111, -1px 1px 1px #111, 1px 1px 1px #111;
}
.profile_preview_table_wrap {
  width: 320px;
  clear: both;
  background: #fff;
  padding: 15px;
}
.profile_preview_table_wrap table {
  border-collapse: collapse;
}
.profile_preview_table_wrap table th {
  padding: 3px;
}
.profile_preview_table_wrap table td {
  padding: 3px;
}
a.list-group-item,
ul.nav.navbar-nav li {
  cursor: pointer;
}
