.text-red {
  color: #f00;
}
.has-primary .form-control,
img.has-primary {
  border-color: rgba(82,168,236,0.8);
  outline: 0px none;
  box-shadow: 0px 0px 8px rgba(82,168,236,0.6);
}
.modal-fl {
  width: 500px;
}
.cropArea {
  background: #e4e4e4;
  overflow: hidden;
  width: 420px;
  height: 300px;
}
/* 카테고리 컬러 감싸고 그림자 효과 주기 */
.cate-name {
  padding: 0px 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #888;
}
.text-stroke-white {
  text-shadow: -1px -1px 1px #eee, 1px -1px 1px #eee, -1px 1px 1px #eee, 1px 1px 1px #eee;
}
.text-stroke-black {
  color: #fff;
  text-shadow: -1px -1px 1px #111, 1px -1px 1px #111, -1px 1px 1px #111, 1px 1px 1px #111;
}
