.text-red
  color red

.has-primary .form-control, img.has-primary
  border-color rgba(82, 168, 236, 0.8)
  outline 0px none
  box-shadow 0px 0px 8px rgba(82, 168, 236, 0.6)

.modal-fl
  width 500px

.cropArea
  background #E4E4E4
  overflow hidden
  width 420px
  height 300px
.cropAreaSm
  background #E4E4E4
  overflow hidden
  width 280px
  height 190px

/* 카테고리 컬러 감싸고 그림자 효과 주기 */
.cate-name
  padding 5px
  margin-right 5px
  vertical-align middle
  border-radius 3px

.text-stroke-white
  text-shadow -1px -1px 1px #eee, 1px -1px 1px #eee, -1px 1px 1px #eee, 1px 1px 1px #eee

.text-stroke-black
  color #fff
  text-shadow -1px -1px 1px #111, 1px -1px 1px #111, -1px 1px 1px #111, 1px 1px 1px #111



a.list-group-item, ul.nav.navbar-nav li
  cursor:pointer
