doctype html
html
  head
    title 마음고리 Administrator (관리시스템)
    // 헤드 파일 삽입
    include ../includes/head
    link(rel="stylesheet", href="/css/admin.css")
  body
    // 네비게이션 부분 삽입
    include ./nav/adminNavbar
    // 컨테이너 시작
    .container
      // 페이지 타이틀 영역
      .row
        // 왼쪽 메뉴 영역
        .col.col-md-3
          .row
            .container-fluid
              include ./partials/adminSide
        // 중앙 메인 영역
        .col.col-md-9
          .row
            .container-fluid
              include ./admin/member/expert
      include ./footer
