doctype html
html
  include ../includes/head
  body(ng-app='app' ng-controller='loginFormCtrl')
    //회원 가입, 수정 모달.
    signin-modal
    //로그인 안 했을때
    div(ng-hide='user_obj.is_loggedin')
      .container(style='width:300px;')
        login-form
    //로그인 했을 때
    div(ng-show='user_obj.is_loggedin')
      include nav/navbar
      .container
        // 페이지 타이틀 영역
        .row
          // 왼쪽 메뉴 영역
          .col.col-md-3
            login-form
          // 중앙 메인 영역
          .col.col-md-9
            main
