doctype html
html
  include ../includes/head
  body(ng-app='app' ng-controller='maumCtrl')
    //회원 가입, 수정 모달.
    include partials/signinModal
    //로그인 안 했을때
    .login_before(ng-hide='user_obj.is_loggedin')
      include partials/init
      //이거 왜 안될까.. 연구해볼것. div(ui-view="init")
    //로그인 했을 때
    .login_main(ng-show='user_obj.is_loggedin')
      div(ui-view="nav")
      .container
        // 페이지 타이틀 영역
        .row
          // 왼쪽 메뉴 영역
          .col.col-md-3
            .row
              .container-fluid(ui-view="login")
                .float_user_btn
                  button.btn-smry-toggle
                    span.glyphicon.glyphicon-user(aria-hidden="true")
                    span
                      | 보기
          // 중앙 메인 영역
          .col.col-md-9
            .row
              .container-fluid(ui-view="page")
        hr
        footer
          ul.footer_menu
            li
              a(ui-sref="#")
                | 회사소개
            li
              a(ui-sref="#")
                | 이용약관
            li
              a(ui-sref="#")
                | 개인정보보호방침
            li
              a(ui-sref="#")
                | 헬프데스크
          address
            p
              | 경기도 성남시 분당구 판교로 264 The Planet (우)463-400 사업자등록번호:104-86-36968 헬프데스크:1599-5115
            strong
              | Copyright by 마음고리. All rights reserved.
