doctype html
html
  include ../includes/head
  body(ng-app='app' ng-controller='commonCtrl')
    div(ui-view="init")
    div(ui-view="nav")
    div(ui-view="error")
    .container
      .row
        // 왼쪽 메뉴 영역
        .col.col-md-3
          div(ui-view="profile")
        // 중앙 메인 영역
        .col.col-md-9
          div(ui-view="page")
