doctype html
html
  include ../includes/head
  body(ng-app='app' style='margin-top:100px;')
    include nav/navbar
    .container
      // 페이지 타이틀 영역
      .row
        // 왼쪽 메뉴 영역
        .col.col-md-2.col-sm-3
          login-form
        // 중앙 메인 영역
        .col.col-md-10.col-sm-9
          main
