doctype html
html
  include ../includes/head
  body(ng-app='app' ng-controller='maumCtrl')
    //회원 가입, 수정 모달.
    include partials/signinModal
    //로그인 안 했을때
    div(ng-hide='user_obj.is_loggedin')
      include partials/init
    //로그인 했을 때
    div(ng-show='user_obj.is_loggedin')
      include nav/navbar
      .container
        // 페이지 타이틀 영역
        .row
          // 왼쪽 메뉴 영역
          .col.col-md-3
            include partials/loginForm
          // 중앙 메인 영역
          .col.col-md-9
            include partials/main
