.mg_page-header
  h1
    | 신규신청내역
    small
      | 새로이 서비스를 신청한 고객들의 내역입니다.

.row
  .container-fluid
    ol.breadcrumb
      li
        a(ui-sref="main_page")
          | Home
      li
        | 진행관리
      li.active
        | 신규신청내역
.row
  .container-fluid
    .table-responsive
      table.table.table-striped
        thead
          tr
            th.center_cell
              input(type="checkbox")
            th.center_cell
              | 이름
            th.center_cell
              | 분야
            th.center_cell
              | 신청일시
            th.center_cell
              | 연락처
              br
              | 연락가능시간
            th.center_cell
              | 방식
            th.center_cell
              | 기능
        tbody
          tr
            td.center_cell
              input(type="checkbox")
            td.center_cell
              | 홍길동순
            td.center_cell
              | 연애
            td.center_cell
              | 15.04.03
              br
              | 03:30
            td.center_cell
              | 010-0000-0000
              br
              | abc@naver.com
              br
              | 10:00~21:00
            td.center_cell
              | 대면
            td.center_cell
              | 쪽지보내기
              br
              | 세부입력
              br
              | 신청취소/거부
          tr
            td.center_cell
              input(type="checkbox")
            td.center_cell
              | 홍길동순
            td.center_cell
              | 연애
            td.center_cell
              | 15.04.03
              br
              | 03:30
            td.center_cell
              | 010-0000-0000
              br
              | abc@naver.com
              br
              | 10:00~21:00
            td.center_cell
              | 대면
            td.center_cell
              | 쪽지보내기
              br
              | 세부입력
              br
              | 신청취소/거부
          tr
            td.center_cell
              input(type="checkbox")
            td.center_cell
              | 홍길동순
            td.center_cell
              | 연애
            td.center_cell
              | 15.04.03
              br
              | 03:30
            td.center_cell
              | 010-0000-0000
              br
              | abc@naver.com
              br
              | 10:00~21:00
            td.center_cell
              | 대면
            td.center_cell
              | 쪽지보내기
              br
              | 세부입력
              br
              | 신청취소/거부

          tr
            td.center_cell
              input(type="checkbox")
            td.center_cell
              | 홍길동순
            td.center_cell
              | 연애
            td.center_cell
              | 15.04.03
              br
              | 03:30
            td.center_cell
              | 010-0000-0000
              br
              | abc@naver.com
              br
              | 10:00~21:00
            td.center_cell
              | 대면
            td.center_cell
              | 쪽지보내기
              br
              | 세부입력
              br
              | 신청취소/거부

          tr
            td.center_cell
              input(type="checkbox")
            td.center_cell
              | 홍길동순
            td.center_cell
              | 연애
            td.center_cell
              | 15.04.03
              br
              | 03:30
            td.center_cell
              | 010-0000-0000
              br
              | abc@naver.com
              br
              | 10:00~21:00
            td.center_cell
              | 대면
            td.center_cell
              | 쪽지보내기
              br
              | 세부입력
              br
              | 신청취소/거부
          tr
            td.center_cell
              input(type="checkbox")
            td.center_cell
              | 홍길동순
            td.center_cell
              | 연애
            td.center_cell
              | 15.04.03
              br
              | 03:30
            td.center_cell
              | 010-0000-0000
              br
              | abc@naver.com
              br
              | 10:00~21:00
            td.center_cell
              | 대면
            td.center_cell
              | 쪽지보내기
              br
              | 세부입력
              br
              | 신청취소/거부
          tr
            td.center_cell
              input(type="checkbox")
            td.center_cell
              | 홍길동순
            td.center_cell
              | 연애
            td.center_cell
              | 15.04.03
              br
              | 03:30
            td.center_cell
              | 010-0000-0000
              br
              | abc@naver.com
              br
              | 10:00~21:00
            td.center_cell
              | 대면
            td.center_cell
              | 쪽지보내기
              br
              | 세부입력
              br
              | 신청취소/거부


  nav.mg_pagination
    ul.pagination.pagination-sm
      li.disabled
        a(ui-sref="#" aria-label="Previous")
          span(aria-hidden="true")
            | &laquo;
      li.active
        a(ui-sref="#")
          | 1
      li
        a(ui-sref="#")
          | 2
      li
        a(ui-sref="#")
          | 3
      li
        a(ui-sref="#")
          | 4
      li
        a(ui-sref="#")
          | 5
      li
        a(ui-sref="#")
          | 6
      li
        a(ui-sref="#")
          | 7
      li
        a(ui-sref="#")
          | 8
      li
        a(ui-sref="#")
          | 9
      li
        a(ui-sref="#" aria-label="Next")
          span(aria-hidden="true")
            | &raquo;
.row
  .container-fluid
    ol.page_advice_ol
      li
        | 서비스를 신청한 고객들에게 연락하시고 세부사항을 조율하십시오.
      li
        | 고객과의 세부사항이 결정되면 마음고리 시스템에 입력하십시오.
      li
        | 결제가 확인되면 본 서비스를 제공하시면 됩니다.
