head
  meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title 마음고리 Expert (전문가지원시스템)
  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
  link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
  link(rel="stylesheet", href="/vendor/toastr/toastr.css")
  link(rel="stylesheet", href="/vendor/ngImgCrop/compile/minified/ng-img-crop.css")
  link(rel="stylesheet", href="/vendor/cropper/dist/cropper.min.css")
  link(rel="stylesheet", href="/css/site.css")
  link(rel="stylesheet", href="/css/maum.css")
  include scripts
