.mg_page-header
  h1
    | 신고 및 징계내역조회
    small
      | 마음고리 이용중 신고나 징계를 받은 내역을 확인 할 수 있습니다.

.row
  .container-fluid
    ol.breadcrumb
      li
        a(ui-sref="main_page")
          | Home
      li
        | 내정보관리
      li.active
        | 신고 및 징계내역조회
